<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Admin Portal</a>
        <ul>
            <% if (!session) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <% } else { %>
            <li><a href="/users">Users</a></li>
            <li>
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav>
</header>