<div class="registerpage">
    <h2>Register Page</h2>
    <form action="/register" method="POST">
        <div class="inputBox">
            <label for="email">Account</label>
            <input type="email" name="email" id="email" placeholder="Enter your email address" required>
        <div>
        <div class="inputBox">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>
        <div class="inputBox">
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Retype your password" required>
        </div>
        <div class="inputBox">
            <label for="username">Name</label>
            <input type="text" name="username" required>
        </div>
        <input type="submit" name="Register" value="Register">
    </form>
</div>