@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/login.css';
@import 'shared/register.css';
@import 'shared/user.css';
@import 'shared/user-edit.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    font-size: 20px;
    color: var(--color-text-light);
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

ui {
    list-style-type: none;
}

li {
    display: inline;
}