<h2>Login Page</h2>
<form action="/login" method="POST">
    <div>
        <label for="email">Account</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
        <button type="reset">Reset</button>
    </div>
</form>