<div class="userpage-edit">
    <h2>User Edit Page</h2>

    <form action="/users/<%= results.id %>?_method=PUT" method="POST">
        <div class="inputBox">
            <label for="email">Account</label>
            <input type="email" name="email" id="email" value="<%= results.email %>" disabled>
        <div>
        <div class="inputBox">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Retype your password"required>
        </div>
        <div class="inputBox">
            <label for="username">Name</label>
            <input type="text" name="username" value="<%= results.username %>" disabled>
        </div> 
        <div class="inputBox">
            <input type="submit" value="Update"></input>
        </div>
    </form>
</div>
