<div class="userpage">
    <h2>User Page</h2>

    <div class="userpage-table">
        <ul class="userpage-table-column">
            <li>Account</li>
            <li>Name</li>
            <li></li>
        </ul>
        <% results.forEach(result => { %>
        <ul class="userpage-table-row">    
            <li><%= result.email %></li>
            <li><%= result.username %></li>
            <li>
                <a href="/users/<%= result.id %>/edit">Edit</a>
                <%- include('../partials/deleteForm', { url: `/users/${result.id}`}) %>
            </li>
        </ul>
        <% }) %>
    </div>

</div>
